.mainBody {
  background-color: #f5e1dc;
}

.post {
  background-color: white;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  height: auto;
  border: 0px;
  border-radius: 15px;
}

.nickname-rep {
  margin-left: auto;
  font-size: 16px;
  margin-bottom: 10px;
}

.nickname-rep .nickname {
  color: black;
}

.nickname-rep .rep {
  color: grey;
}

.story-header {
  color: black;
  margin-bottom: 0px;
}

.story-title {
  font-size: 24px;
  font-weight: bolder;
  color: black;
}

.date-posted {
  color: grey;
  font-size: 16px;
}

.content {
  margin-top: 20px;
  margin-bottom: 10px;
}

.reactions {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.btn-cst {
  margin: auto 1em;
  box-sizing: border-box;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* flex: 1 1 auto; */
  color: black;
  background-color: #b9bbea;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  text-align: center;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  cursor: pointer;
  touch-action: manipulation;
}

.btn-cst:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* <!-- HTML !-->
  <button class="button-35" role="button">Button 35</button>*/

/* CSS */
/* .button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  } */

/* .button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  } */
